# Entornos virtuales
venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*.so

# Configuración del entorno
.env
*.env

# Archivos de bases de datos locales
db.sqlite3
db.sqlite3-journal

# Archivos de migraciones de Django
**/migrations/*.pyc
**/migrations/*.py
!**/migrations/__init__.py

# Archivos estáticos y de medios
/static/
/media/

# Logs
*.log

# Archivos de IDEs y editores de código
.vscode/
.idea/
*.swp

# Dependencias
*.egg-info/
.eggs/

# Caché de Django
**/*.cache

# Archivos de cobertura de pruebas
.coverage
htmlcov/

# Archivos de Git
.DS_Store

# Docker
docker-compose.override.yml
.dockerignore

# Archivos de volúmenes de Docker (para evitar persistencia de datos locales)
volumes/
data/

# Base de datos de PostgreSQL en Docker
pgdata/

# Archivos de caché adicionales
*.log
*.out
*.pid
*.lock

# __pycache__ adicional en cualquier directorio
**/__pycache__/

# Archivos relacionados con Python Bytecode
*.pyo
*.pyd

# Archivos de entorno adicionales
.envrc
*.local.env

# Archivos temporales de desarrollo
*.bak
*.swp
*.swo
*~
